<div class="form-container">
  <div class="form">
    <h1>Log in</h1>
    <form method="POST" action="/" enctype="application/x-www-form-urlencoded">
      <input type="text" placeholder="Username" name="username" required>
      <input type="password" placeholder="Password" name="password" required>
      <input type="submit" value="login">
      <a class="forgot-pass" href="#">Forgot Password?</a>
    </form>
  </div>
  <div class="img-side"></div>
</div>
</div>